@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <div class="mainColorBG" style="border-radius: 50px; width: 44px; height: 44px; text-align: center"><p style="text-align: center; font-size:28px; color:#FFF; font-weight:500; "  class="" > @Char.ToUpper(User.Identity.Name[0])</p></div>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark"><img style="margin-left: 12px; ; width: 22px" src="~/logout.svg" alt="log out" title="Log out"/></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><span class="mainColor">R</span>egister</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><span class="mainColor">L</span>ogin</a>
    </li>
}
</ul>
