@model IEnumerable<WebImageCloud.Models.Folder>

@{
    ViewData["Title"] = "Library";
    int countFile = 0;
}

@*<div class="row">
    <div class="col-md-2">
        <a asp-controller="Files" asp-action="Create" class="mainColor">Add File</a>
    </div>
</div>*@

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
@*<div >
    <ul class="flex-grow-1">
        <li><a class="libraryButton" asp-area="Folders" asp-page= "/Folders/Create" >Create</a></li>
    </ul>
</div>*@
<div class="row">

    @foreach (var item in Model)
    {
    <div style="margin: 0 auto" class=" col-6  col-md-4 col-lg-3 col-xl-2 folder">
        <a  asp-controller="Folders" asp-action="Details" asp-route-id="@item.Id"><img src="~/folder.svg" alt="Folder" /></a>
        <p style="margin-top: -15%; margin-left: 29%; color: #14544D">@ViewBag.FoldersCount[countFile]</p>
        <p style="text-align: center; font-size: 14px; margin-bottom: 0">@item.Name</p>
        <p style="text-align: center">@item.DateOfChange.ToString("ddd, dd MMM yyy H:mm")</p>
    </div>
        countFile++;
    }
</div>