@model WebImageCloud.Models.File

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>File</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">

            <div class="form-group">
                <p><label style="cursor: pointer;  padding: 5px;" for="content" class="createFile">Browse...</label></p>
                <input class="form-control" name="content" id="content" type="file" style="opacity: 0; position: absolute; z-index: -1;" />

                <input type="submit" value="Add" class="btn btn-primary" />

            </div>

            @if (ViewBag.Modal == "null")
            {
                <p>Please select a file to add.</p>
            }

            @if (ViewBag.Modal == "size")
            {
                <p>You cannot upload the file.</p>
                <p>The file exceeds the free space in the cloud.</p>
                <br />
                <p> You can free up space by deleting files</p>
                <p>or by purchasing additional cloud space.</p>
            }








            @*@await Html.PartialAsync("FilesOutOfMemory")*@



            @*<div class="form-group">
            <label asp-for="Path" class="control-label"></label>
            <input asp-for="Path" class="form-control" />
            <span asp-validation-for="Path" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Size" class="control-label"></label>
            <input asp-for="Size" class="form-control" />
            <span asp-validation-for="Size" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FolderId" class="control-label"></label>
            <select asp-for="FolderId" class ="form-control" asp-items="ViewBag.FolderId"></select>
        </div>*@
            <div class="form-group">

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
